/* ********* */
/* @FOOTER */
/* ********* */

footer{
   

    // BANNER FOOTER
    .banner_footer img{
    width:100%;
            }
}

.copyright{
    position: absolute;
    margin: 10px;
    font-size: 14px;

}