/* ********* */
/* @HEADER */
/* ********* */

//smartphone

#menu-smartphone {
    input{
        display: none;
    }
}

//Desktop
#menu-desktop {
    display: none;
}

@media only screen and (min-width: 1440px) {
    #menu-desktop {}
}

header{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 50px;
    grid-template-areas:
        "banner"
        "menu";
  }
    .banner_header{
        grid-area: banner;
    }
    .menu-desktop {
        grid-area: menu;
    }


.menu {
  
  }

